<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">
    
    <import resource="service-activiti-spring.xml" />
    <import resource="specific-activiti-spring.xml" />
    <import resource="classpath:spring-activiti-fragment/usertask-springContext.xml" /> <!--  dans generic-activiti-usertask-jsf-web-fragment.jar -->
    
    <import resource="serviceSpringConf.xml" />
    <!-- <import resource="web-springContext.xml" /> -->
   
    <import resource="wsEndpointSpringConf.xml" />

</beans>