<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>tpWebMaven</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
	<description>reference vers le pool de cnx nécessaire</description>
	<res-ref-name>jdbc/geodb</res-ref-name>
	<res-type>javax.sql.DataSource</res-type>
	<res-auth>Container</res-auth>
  </resource-ref>
  <security-constraint>
	<display-name>Example Security Constraint</display-name>
	<web-resource-collection>
		<web-resource-name>Protected Area</web-resource-name>
		<!-- Define the context-relative URL(s) to be protected -->
		<url-pattern>/regions.jsp</url-pattern>
		<!-- If you list http methods, only those methods are protected -->
		<!-- <http-method>DELETE</http-method>
		<http-method>GET</http-method>
		<http-method>POST</http-method>
		<http-method>PUT</http-method>-->
	</web-resource-collection>
	<auth-constraint>
		<!-- Anyone with one of the listed roles may access this area -->
		<role-name>employe</role-name>
	</auth-constraint>
  </security-constraint>
	<security-role>
		<description>employe de l'entreprise XYZ</description>
		<role-name>employe</role-name>
	</security-role>
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>Domaine des utilisateurs XYZ</realm-name>
	</login-config>
</web-app>